# Warning: This docker-compose file is made for development purposes.
# Using it will build an image from the locally cloned repository.
#
# If you want to use Invidious in production, see the docker-compose.yml file provided
# in the installation documentation: https://docs.invidious.io/installation/

services:
  arm64:
    platform: linux/aarch64
    image: localhost:5000/invidious:master-arm64
    build:
      context: .
      dockerfile: docker/Dockerfile.arm64
  x86:
    platform: linux/amd64
    image: localhost:5000/invidious:master
    build:
      context: .
      dockerfile: docker/Dockerfile
